body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
  font-size: 17px;
}
input {
  font-size: 15px;
  color: greenyellow;
  margin-right: 20px;
  padding: 5px;
  border: 0px;
  border-bottom: 2px solid greenyellow;
  width: 170px;
  background: transparent;
  -moz-appearance: textfield;
}

tr {
  display: flex;
  align-items: center;
}
td {
  padding-right: 10px;
  justify-content: left;
}

#SelectedCategory {
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: table;
  table-layout: fixed;
}
.column {
  display: table-cell;
  text-align: center;
}

.list {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(27, 140, 12);
  border-radius: 8px;
  box-shadow: 0 0 7px rgb(100, 100, 100);
}

.select-box {
  position: relative;
}

.select-box select {
  height: 42px;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background: none;
  border-radius: 8px;
  -webkit-appearance: none;
  appearance: none;
}

.submit {
  margin-left: 10px;
  border: 1px solid greenyellow;
  height: 42px;
  font-size: 15px;
  background: none;
  border-radius: 8px;
  color: greenyellow;
}

.delete_button {
  display: relative;
  align-items: center;
  justify-content: right;
}