.row {
  display: table;

  table-layout: fixed;
}
.column {
  display: table-cell;
  text-align: center;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
  font-size: 17px;
}
input {
  font-size: 15px;
  color: greenyellow;
  margin-right: 20px;
  padding: 5px;
  border: 0px;
  border-bottom: 2px solid greenyellow;
  width: 170px;
  background: transparent;
  -moz-appearance: textfield;
}

.list {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.select-box {
  position: relative;
}

.select-box select {
  height: 42px;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background: none;
  border-radius: 8px;
  -webkit-appearance: none;
  appearance: none;
}

.submit {
  margin-left: 10px;
  border: 1px solid greenyellow;
  height: 42px;
  font-size: 15px;
  background: none;
  border-radius: 8px;
  color: greenyellow;
}
